                                                                                 CSS for all logs 
.logo-small {
  color: ##0066ff;
  font-size: 50px;
}

.logo {
  color: #000000; // glyp
  font-size: 200px;
}

//                                                                          CSS for styling thumbnail images
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

//                                                                               CSS for The Carousel 
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #000000;
}

.carousel-indicators li {
  border-color:#0066ff; ;
}

.carousel-indicators li.active {
  background-color: #000000;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

//                                                                              CSS for the Pricing Menu
.panel {
  border: 1px solid #0066ff; 
  border-radius:0;
  transition: box-shadow 0.5s;
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
  border: 1px solid #0066ff; 
  background-color: #fff !important;
  color: #000000;
}

.panel-heading {
  color: #fff !important;
  background-color: rgb(77,75,75)!important; 
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel-footer {
  background-color: #fff !important;
}

.panel-footer h3 {
  font-size: 32px;
}

.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}

.panel-footer .btn {
  margin: 15px 0;
  background-color: ##000000;
  color: #fff;
}

                                                                               

//                                                                            CSS for login 

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 1px;


}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

#page-wrap {
     width: 1500px;
     margin: 0 auto;
}
body {
  background-color: rgb(52,51,51);
}
p {

  color:white;

}
h4{

color:white;

}
h2{

color:white;

}
.hr3 {
  color: black;
}
h1{

  color:white;
}
b{

  color:white;
}
.hr4 {

  color:white;
}

.red{color:rgb(182,18,18)} 
.green{color:green;}
.blue{color:rgb(36,89,218)}
.orange{color:orange;}
.grey{color:grey;}
.yellow{color:yellow;}